@font-face {
    font-family: 'Primary';
    src: url('/fonts/ScotchDeckCond-Rm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Secondary';
    src: url('/fonts/NeueMontreal-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Secondary', sans-serif;
        overflow: auto;
    }
}

@layer components {
    .bg-idealive {
        @apply bg-[#2054FA];
    }

    .text-idealive {
        @apply text-[#2054FA];
    }

    .px-desktop {
        @apply md:px-[2.646vw] px-[20px];
    }

    .btn-main {
        @apply bg-[#2054FA] text-white px-[20px] py-[10px] inline-flex items-center gap-[10px] transition-colors duration-300 relative overflow-hidden;
    }
}